PORT=12000
URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=SampleData
COLLECTION_NAME=AccidentData
mongo_url=mongodb+srv://<username>:<password>@cluster.mongodb.net/SampleData
